# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Keystore files (debug keystore is fine, but exclude others)
*.keystore
!app/debug.keystore
